beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.12.07
charset-normalizer==2.1.1
colorama==0.4.5
grappa==1.0.1
idna==3.3
PySimpleGUI==4.60.3
requests==2.31.0
six==1.16.0
soupsieve==2.3.2.post1
urllib3==1.26.12
