beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2024.7.4
charset-normalizer==3.2.0
colorama==0.4.6
grappa==1.0.1
idna==3.7
PySimpleGUI==4.60.5
requests==2.32.0
six==1.16.0
soupsieve==2.3.2.post1
urllib3==2.2.2
